/*Aqui são as alterações visuais nos botões de navegaçao que possuem a CLASSE BOTAO. */
.botao{
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 20px;
    border:1px solid black ;
    padding: 5px;
}
/*Aqui são as alterações visuais feitas no titulo da pagina em questão com o ID SOBRE MIM */
#sobremim{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    clear: both;
}
/*Aqui são comandos para redimensionar a imagem na página. */
#eufoto{
    position: absolute;
    width: 400px;
    margin-left: 10px
}
/*Aqui é somente uma alteração na cor do plano de fundo do site. */
body{
    background-color: cornsilk;
}
/*Aqui sao comandos para posicionar o texto com informações em relação à imagem. */
#info{
    position: relative;
    margin-left: 450px; 
}
